version: "3.9"

services:
  app:
    build: .
    container_name: node-app
    command: npm start
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=MyStrongPassword123
    depends_on:
      - redis
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

  redis:
    image: redis:7-alpine
    container_name: redis
    command: [
      "redis-server",
      "--requirepass", "MyStrongPassword123",
      "--appendonly", "yes"
    ]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
